@use '../base/variables' as *;

.container {
	display: flex;
	gap: $spacer;
	padding: $spacer;
	margin: auto;
	max-width: 800px;
	justify-content: center;
}

.container-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	// font-size: small;
	gap: 0.5 * $spacer;
	padding: 0.5 * $spacer;
}

.container-column {
	display: flex;
	flex-direction: column;
	gap: $spacer;
	padding: $spacer;
	margin: auto;
}
